* {
  font-family: helvetica;
}
.note {
	display: inline-block;
	border: double blue;
	vertical-align: top;
	height: 150px;
	width: 150px;
	padding: 10px;
	margin: 2px 0px;
}
h4 {
	margin-top: 5px;
}
